<button (click)="goCalendar()">Calendar</button>

<app-form (userAddEvent) = "addUser($event)"></app-form>

<h2>Users Table</h2>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<ul class = "list-group users">
  <li class="list-group-item" *ngFor = "let user of users">
   <app-user [user]="user" (userDeleteEvent) = "deleteUser($event)" (userUpdateEvent) = "updateUser($event)"></app-user>
        <ul>
          <li *ngFor = "let title of user.posTitles">
            {{(title | async)?.title}}
          </li>
          <li *ngFor = "let title of user.posTitles">
            {{(title | async)?.name}}
          </li>
        </ul>
 </li>
</ul>

</body>