<h2>Products Table</h2>

<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<ul class = "list-group products">
  <li class="list-group-item" *ngFor = "let product of products">
   <app-product [product]="product" (productDeleteEvent)="deleteProduct($event)"></app-product>

 </li>
</ul>

</body>-->

<style>
table, th , td  {
  border: 2px solid grey;
  border-collapse: collapse;
  padding: 10px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<!--<div ng-app="myApp" ng-controller="customersCtrl"> 
  <table>
    <th>My Table</th>
    <tr class="table-group-item" *ngFor = "let product of products">
    <td>  <app-product [product]="product" (productDeleteEvent)="deleteProduct($event)"></app-product>  </td>
    </tr>
  </table>
</div>
<br>
<br>
<br>-->

<!--<div ng-app="myApp2" ng-controller="customersCtrl2"> 
  <table>
    <th>My Joined Table</th>
    <tr class="table-group-item" *ngFor = "let product of products">
    <td>  <app-product [product]="product" (productDeleteEvent)="deleteProduct($event)"></app-product> 
              <ul>
          <li *ngFor = "let title of product.posTitlesi">
            {{(title | async)?.name}}
          </li> 
        </ul>
    </td>
    </tr>
  </table>
</div>-->

<h2>my joint is on fire</h2>
<ul class = "list-group Products">
  <li class="list-group-item" *ngFor = "let product of products">
   <app-product [product]="product" (productDeleteEvent)="deleteProduct($event)"></app-product>
       <ul>
          <li *ngFor = "let title of product.posTitles">
            {{(title | async)?.name}}
          </li>
        </ul>
 </li>
</ul>

</body>