<h1>
  {{title}}
</h1>
<nav>
  <a routerLink='/users'>Users</a>  <!--> '/users' is the end of url </!-->| 
  <a routerLink='./products'>Products</a>

</nav> <br>
<router-outlet></router-outlet>


<!--<app-users></app-users>-->