<!---
<h2>Product Table</h2>
<style>
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="customersCtrl"> 
  <table>
<th>Id</th>
<th>Name</th>
<th>Cost</th>
<th>Category</th>
<th>Delete</th>
<tr class="table-group-item" *ngFor = "let product of products">

<td>{{product.pid}}<br></td>
<td>{{product.pname}}<br></td>
<td>{{product.cost}}<br></td>
<td>{{product.categoryId}}<br></td>
<td><button (click) = "deleteProduct()"> Delete</button><br></td>
 </tr>
</table>
</div>
</body>
!-->

<span>
<b> Id:</b>   {{product.pid}}    <br>
<b> Name: </b>  {{product.pname}}    <br>
<b> Cost:</b>   {{product.cost}}   <br>
<b> Category:</b>   {{product.categoryId}}   <br>
</span>
<!--<span *ngIf = "isEdit">
Name: <input type ="text" [(ngModel)] ="user.name"><br>
Email: <input type ="text" [(ngModel)] ="user.email"><br>
</span>-->
<!--<button (click) = "sendUpdate()"> Update </button>-->
<!--<button (click) = "toggleEdit()"> {{editTextButton}} </button>-->
<button (click) = "sendDelete()"> Delete </button>
