<span *ngIf = "!isEdit">
Name: {{user.name}}<br>
Email: {{user.email}}<br>
</span>
<span *ngIf = "isEdit">
Name: <input type ="text" [(ngModel)] ="user.name"><br>
Email: <input type ="text" [(ngModel)] ="user.email"><br>
</span>
<!--<button (click) = "sendUpdate()"> Update </button>-->
<button (click) = "toggleEdit()"> {{editTextButton}} </button>
<button (click) = "sendDelete()"> {{editTextButton2}} </button>
